<div class="container">
  <div class="row">
    <div class="col-md-6 col-md-offset-3 vertical-center">
      <div class="thumbnail">
        <img src="../public/img/{{product.img}}" alt="{{product.name}}">
        <div class="caption">
          <h2>{{product.name}}</h2>
          <p class="price">${{product.price}}</p>
          <p>{{product.desc}}</p>
          {{#unless active}}
          <p><strong>SOLD!</strong></p>
          {{/unless}}
          <a href="//fb" class="btn btn-default" role="button">Message Seller</a>
          <a href="/products" class="btn btn-primary" role="button">Back to all products</a>
        </div>
      </div>
    </div>
  </div>
</div>